.pealeht .pealkiri h1{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    height: auto;
    color:rgb(102,90,44);
    font-family: verdana;
    font-size: 28px;
}


/* siin olid html komenteerimis märgistus, ei saanud aru, mis sa teha tahtsid siin, aga lisasin css komenteerimis märgistuse. -Evar
a {
    border: solid;
    border-color: yellowgreen;
}
*/

img{
    width: 150px;
    height: 150px;
}

body {
    content: "";
    background-image: url(tagataust.PNG);
    background-repeat: repeat;
    background-size: 7%;
    position: absolute;
}
